@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-white: #ffffff;
  --color-primary-yellow: #fcb90b;
  --color-primary-black: #010102;
  --color-secondary-gray: #f1f1f1;
  
  --color-chart-total: var(--color-primary-yellow);
  --color-chart-authorized: #10B981;
  --color-chart-unauthorized: #EF4444;
}
